.App {
  text-align: center;
}

.task{
  display:flex;
  justify-content:space-around;
  
}
#a1{
  height:100px;
  width:400px;
  font-Size:14pt;
}
.a2{
  margin-top:50px;
  margin-bottom:50px
}
.a3{
 width: 300px;
 border: solid !important;
}
h1{
  color: blue;
}